.btn-main {
    background: #f17f4663 !important;
    color: #f17f46 !important;
    border: none !important;
}
.btn-main:hover{
    color: #ff5500 !important;
}
.btn-main-secondary{
    background: #4560c4f2 !important;
    border: 1px solid #3c5ed4  !important;
    color: #c4d1ff!important;
    transition: .2s ease-out;
}
.btn-main-secondary:hover{
    background: #5974d5f2 !important;
}
.hov-main-secondary.active,.hov-main-secondary:hover{
    color: #4866d1 !important;
}