.login-page,
.register-page {
    -ms-flex-align: center;
    align-items: center;
    background-color: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-box,
.register-box {
    width: 450px;
}

@media (max-width: 576px) {

    .login-box,
    .register-box {
        margin-top: .5rem;
        width: 90%;
    }
}
.btn-login{
    background-color: #b597f7  !important;
    color: white !important;
}
.btn-login:hover{
    background-color: #9169e7  !important;

}